# practical Assignment 3

# 1.	Create a set and display its elements

In [5]:
my_set = {1, 2, 3, 4, 5}
for element in my_set:
    print(element)

1
2
3
4
5

# 2.	Add an element to a set

In [14]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

# 3. Remove an element from a set

In [17]:
my_set = {1, 2, 3}
my_set.remove(2)
print(my_set)

{1, 3}

# 4. Clear all elements from a set

In [20]:
my_set = {1, 2, 3}
my_set.clear()
print(my_set)

set()

# 5. Copy a set to another set

In [23]:
set1 = {1, 2, 3}
set2 = set1.copy()
print(set2)

{1, 2, 3}

# 6. Check if an element exists in a set

In [26]:
my_set = {1, 2, 3}
print(2 in my_set)

True

# 7. Find the length of a set

In [29]:
my_set = {1, 2, 3}
print(len(my_set))

3

# 8. Iterate through a set using a loop

In [32]:
my_set = {1, 2, 3}
for item in my_set:
    print(item)

1
2
3

# 9. Find the union of two sets

In [35]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

# 10. Find the intersection of two sets

In [38]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

# 11. Find the difference between two sets

In [41]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.difference(b))

{1}

# 12. Find the symmetric difference between two sets

In [44]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.symmetric_difference(b))

{1, 4}

# 13. Check if one set is a subset of another

In [47]:
a = {1, 2}
b = {1, 2, 3}
print(a.issubset(b))

True

# 14. Check if one set is a superset of another

In [50]:
a = {1, 2, 3}
b = {1, 2}
print(a.issuperset(b))

True

# 15. Check if two sets are disjoint

In [53]:
a = {1, 2}
b = {3, 4}
print(a.isdisjoint(b))

True

# 16. Remove duplicates from a list using a set

In [56]:
my_list = [1, 2, 2, 3, 4, 4]
unique = list(set(my_list))
print(unique)

[1, 2, 3, 4]

# 17. Convert a list to a set and back to a list

In [59]:
my_list = [1, 2, 2, 3]
my_set = set(my_list)
new_list = list(my_set)
print(new_list)

[1, 2, 3]

# 18. Find common elements in two lists using sets

In [62]:
a = [1, 2, 3]
b = [2, 3, 4]
print(set(a) & set(b))

{2, 3}

# 19. Get elements in one list but not in another using sets

In [65]:
a = [1, 2, 3]
b = [2, 3, 4]
print(set(a) - set(b))

{1}

# 20. Use set comprehension to generate a set

In [68]:
squares = {x * x for x in range(1, 6)}
print(squares)

{1, 4, 9, 16, 25}

# 21. Create and print a frozenset

In [71]:
fs = frozenset([1, 2, 3, 4])
print(fs)

frozenset({1, 2, 3, 4})